{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> 
        DashBoard | {{ user.first_name }}
    </title> 
    <link 
        rel="stylesheet"
        href="{% static 'css/mould_reg.css' %}" > 
{% endblock %}

{% block body_content %}
    <nav 
        class="navbar navbar-light dashboard_nav">
        <div class="container-fluid dashboard_nav">
            <p class="h1 dashboard_title"> 
                <a href="{% url 'homePage' %}" style="text-decoration:None;">
                  DashBoard 
                </a> 
            </p> 


            <div class="user_data"> 
                <p class="h3"> 
                    {{ request.user.first_name }}, 
                    <a href="{% url 'userLogout' %}"> 
                        Logout
                    </a> 
                </p> 
            </div> 
        </div>
    </nav>
    

    <div class="container"> 

        <p class="h2" style="text-align : center"> 
            General Cleaning of {{ mould_data.mould_name }}
        </p> 

        <table class="table" style="margin-top : 20px;"> 
            <thead> 
                <th scope="col"> 
                    Moud id 
                </th> 
                <th scope="col"> 
                    current Count 
                </th> 
                <th scope="col"> 
                    General Cleaning threshold
                </th> 

                <th scope="col"> 
                    order number
                </th> 
            </thead> 

            <tbody> 
                <tr class="table-info"> 

                    <td class="table-info"> 
                        {{ mould_data.mould_id }}
                    </td> 

                    <td class="table-info"> 
                        {{ mould_data.present_count }}
                    </td> 

                    <td class="table-info"> 
                        {{ mould_data.preventive_maintaince_clearning_thresold_value }}
                    </td> 

                    <td class="table-info"> 
                        {{ mould_data.order_number }}
                    </td> 

                </tr> 
            </tbody> 
        </table> 


        <form action="{% url 'GcleanAccept' %}" method = "POST"> 
            {% csrf_token %}
            <input type="number" name="id" style="display:none" value="{{ mould_data.mould_id }}" /> 
              <label 
                for="exampleInputEmail1" 
                class="form-label"
                style="font-size : 20px;"
                >
                <b>
                Please add some note. 
                </b>
            </label>
            
            <textarea 
            name = "comment"
            class="form-control" 
            id="mouldName" 
            aria-describedby="textHelp"
            required >

            </textarea> 

            <div 
            class="mb-3 submitButton" style="padding-top : 50px;">

            <button type="submit" class="btn btn-primary submitButton customSubmitButton" ><b>Send of General Cleaning</b></button>

        </div> 


        </form> 

        </div> 

    
{% endblock %}

